<!--<table>
    <tr id="sigla-administrare">
        <td>
            <a [routerLink]="['/']" id="acasa">
                <img src="assets\CSMLogo.png" alt="CSMLogo">
            </a>
        </td>
        <td colspan="3" id="voleicsm">
            <h1>VOLEI CSM SUCEAVA</h1>
        </td>
        <td colspan="3" id="admin-buton">
            <a [routerLink]="['/autentificare']" id="lightColor">ADMINISTRARE PAGINĂ</a>
        </td>
    </tr>
    <tr id="butoane-pagini">
        <td>
            <a [routerLink]="['/']" id="darkColor">ACASĂ</a>
        </td>
        <td>
            <button>
                <div id="dropdown-detalii-club">
                    <a id="darkColor">DETALII CLUB</a>
                    <div id="dropdown-detalii-club-content">
                        <a [routerLink]="['/viziune']" id="btndrdw-detalii">Viziune</a>
                        <a [routerLink]="['/istoric']" id="btndrdw-detalii">Istoric</a>
                        <a [routerLink]="['/trofee']" id="btndrdw-detalii">Trofee</a>
                    </div>
                </div>
            </button>
        </td>
        <td>
            <a [routerLink]="['/calendar']" id="darkColor">CALENDAR MECIURI</a>
        </td>
        <td>
            <a [routerLink]="['/noutati']" id="lightColor">NOUTĂȚI</a>
        </td>
        <td>
            <a [routerLink]="['/personal']" id="lightColor">PERSONAL</a>
        </td>
        <td>
            <a [routerLink]="['/sponsori']" id="lightColor">SPONSORI</a>
        </td>
        <td>
            <button>
                <div id="dropdown-volei-juvenil">
                    <a id="lightColor">VOLEI JUVENIL</a>
                    <div  id="dropdown-volei-juvenil-content">
                        <a [routerLink]="['/cadeti']" id="btndrdw-volei-juvenil">Cadeti</a>
                        <a [routerLink]="['/juniori']" id="btndrdw-volei-juvenil">Juniori</a>
                        <a [routerLink]="['/sperante']" id="btndrdw-volei-juvenil">Sperante</a>
                        <a [routerLink]="['/minivolei']" id="btndrdw-volei-juvenil">Mini volei</a>
                    </div>
                </div>
            </button>   
        </td>
    </tr>
</table>-->
<app-prototip-nav-bar></app-prototip-nav-bar>
<!-- <div>
    <app-sigla-nav-bar></app-sigla-nav-bar>
    <app-pagini-nav-bar></app-pagini-nav-bar>
</div> -->

